<h1>A propos de ce site</h1>
<p>Ce site est un site web développé pour un projet au sein d'une école d'ingénieur.</p>
<p>Il a nécessité une cinquantaine d'heures de développement avec l'aide de ce site : <a href="http://railstutorial.org/">Ruby on Rails Tutorial</p>	

