<h1>Aide</h1>

<p>Ce site propose des idées cadeaux et se veut être un partage entre utilisateurs</p>
<p>A ce titre, une fois que vous vous êtes créé un compte, merci de faire état des produits que vous possédez et que vous pourriez conseiller aux autres utilisateurs</p>
<p>Pour ce faire, vous aurez à remplir un petit formulaire pour chaque produit :
<ul>
	<li>La catégorie doit être explicite et en rapport avec le produit quez vous enregistrez</li><br />
	<li>La description se veut courte et doit aller droit au but en mentionnant les points forts/faibles du produit</li><br />
	<li>Le commentaire se veut court lui aussi et doit refléter ce que vous en pensez</li><br />
	<li>La note va de 0 à 5, vous pouvez utilisez cette échelle (ou la fixer vous même):
		<ul>
			<li>0 = Je ne recommande PAS DU TOUT ce produit</li>
			<li>1 = Pourquoi pas en lampe de chevet</li>
			<li>2 = Eventuellement en tapis</li>
			<li>3 = Bon produit mais pas indispensable</li>
			<li>4 = Produit très intéressant</li>
			<li>5 = A posséder absolument</li>
		</ul>
	</li><br />
	<li>Le prix, on ne vous demande pas le prix au centime près mais tachez de mettre un prix reflétant le marché actuel</li><br />
</ul>
<p>Nous vous souhaitons par avance une bonne expérience sur notre site et n'hésitez pas à <a href="mailto:cassagnes@et.esiea.fr">nous contacter</a> si un problème survenait</p> 
